In [21]:
import pandas as pd

In [22]:
infile = 'associativity.trace2.csv'
outfile = 'associativity.trace2.groupby.xlsx'

In [23]:
df = pd.read_csv(infile)
df

,LineSize,Associativity,CacheSize,WriteUpPolicy,WriteBackPolicy,Miss Rate,AMAT
0,256,1,32.00KB,WriteBack,WriteAllocate,0.5320,9.015
1,256,1,64.00KB,WriteBack,WriteAllocate,0.5296,8.845
2,256,1,128.00KB,WriteBack,WriteAllocate,0.5244,8.490
3,256,1,256.00KB,WriteBack,WriteAllocate,0.5243,8.098
4,256,1,512.00KB,WriteBack,WriteAllocate,0.4206,6.197
...,...,...,...,...,...,...,...
61,256,32,2.00MB,WriteBack,WriteAllocate,0.3046,4.046
62,256,32,4.00MB,WriteBack,WriteAllocate,0.3046,4.046
63,256,32,8.00MB,WriteBack,WriteAllocate,0.3046,4.046
64,256,32,16.00MB,WriteBack,WriteAllocate,0.3046,4.046
65,256,32,32.00MB,WriteBack,WriteAllocate,0.3046,4.046

In [24]:
df = df[['Associativity', 'CacheSize', 'Miss Rate']]
df

    Associativity CacheSize  Miss Rate
0               1   32.00KB     0.5320
1               1   64.00KB     0.5296
2               1  128.00KB     0.5244
3               1  256.00KB     0.5243
4               1  512.00KB     0.4206
..            ...       ...        ...
61             32    2.00MB     0.3046
62             32    4.00MB     0.3046
63             32    8.00MB     0.3046
64             32   16.00MB     0.3046
65             32   32.00MB     0.3046

[66 rows x 3 columns]

In [25]:
grouped = df.groupby(['CacheSize', 'Associativity']).mean()
grouped

                         Miss Rate
CacheSize Associativity
1.00MB    1                 0.3984
          2                 0.3084
          4                 0.3076
          8                 0.3053
          16                0.3047
...                            ...
8.00MB    2                 0.3048
          4                 0.3046
          8                 0.3046
          16                0.3046
          32                0.3046

[66 rows x 1 columns]

In [26]:
Associativiys = df['Associativity'].unique()
Associativiys

array([ 1,  2,  4,  8, 16, 32], dtype=int64)

In [27]:
cache_sizes = df['CacheSize'].unique()
cache_sizes

array(['32.00KB', '64.00KB', '128.00KB', '256.00KB', '512.00KB', '1.00MB',
       '2.00MB', '4.00MB', '8.00MB', '16.00MB', '32.00MB'], dtype=object)

In [28]:
new_df = pd.DataFrame(index=cache_sizes, columns=Associativiys)
new_df

           1    2    4    8    16   32
32.00KB   NaN  NaN  NaN  NaN  NaN  NaN
64.00KB   NaN  NaN  NaN  NaN  NaN  NaN
128.00KB  NaN  NaN  NaN  NaN  NaN  NaN
256.00KB  NaN  NaN  NaN  NaN  NaN  NaN
512.00KB  NaN  NaN  NaN  NaN  NaN  NaN
1.00MB    NaN  NaN  NaN  NaN  NaN  NaN
2.00MB    NaN  NaN  NaN  NaN  NaN  NaN
4.00MB    NaN  NaN  NaN  NaN  NaN  NaN
8.00MB    NaN  NaN  NaN  NaN  NaN  NaN
16.00MB   NaN  NaN  NaN  NaN  NaN  NaN
32.00MB   NaN  NaN  NaN  NaN  NaN  NaN

In [29]:
for cache_size in cache_sizes:
    for associativiy in Associativiys:
        new_df.loc[cache_size,associativiy] = grouped.loc[cache_size,associativiy][0]

In [30]:
new_df

              1       2       4       8       16      32
32.00KB    0.532   0.365  0.3545  0.3518  0.3502  0.3499
64.00KB   0.5296   0.355  0.3474  0.3443  0.3433  0.3428
128.00KB  0.5244   0.345  0.3318  0.3323  0.3314  0.3307
256.00KB  0.5243   0.335  0.3203  0.3179  0.3167  0.3165
512.00KB  0.4206  0.3299  0.3121   0.308  0.3068  0.3069
1.00MB    0.3984  0.3084  0.3076  0.3053  0.3047  0.3046
2.00MB    0.3703  0.3065  0.3046  0.3046  0.3046  0.3046
4.00MB    0.3574  0.3048  0.3046  0.3046  0.3046  0.3046
8.00MB    0.3047  0.3048  0.3046  0.3046  0.3046  0.3046
16.00MB   0.3047  0.3046  0.3046  0.3046  0.3046  0.3046
32.00MB   0.3046  0.3046  0.3046  0.3046  0.3046  0.3046

In [31]:
new_df.to_excel(outfile)